/***Globales***/
:root {
    --colorPrimario: #1E355E;
    --fuentePrimaria: 'Open Sans', sans-serif, 'Segoe UI', Geneva, Verdana;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2 {
    font-family: var(--fuentePrimaria);
    font-size: 1.3em;
    color: var(--colorPrimario);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    font-weight: bold;
}

h3 {
    font-family: var(--fuentePrimaria);
    font-size: 1em;
    color: var(--colorPrimario);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bolder;
}

/*Encabezado*/
div.encabezado {
    /*font-family: 'Open Sans', Tahoma, Geneva, sans-serif;*/
    border-bottom: 2px solid #e1e1e1
}

div.encabezado h3 {
    text-align: center;
    font-size: 1.2em;
    color: #7B3537;

}

/*Navegacion*/
nav ul {
    margin: 0;
}

div.navegacion ul li a {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

div.navegacion ul li {
    display: inline-block;
    padding: 10px 10px;
    transition: all .3s ease-in-out;
}

div.navegacion ul li:hover {
    background-color: #e1e1e1;
}

div.navegacion ul li:nth-child(1)::after {
    content: '';
    color: #fe4918;
}

div.navegacion ul li::after {
    font-family: "Font Awesome 5 Free";
    content: '\f0d7';
    font-weight: 900;
    margin-left: 5px;
}

/*Carousel*/
div.imagen img {
    max-height: 500px;
}

div.imagen div h5,
p {
    text-align: left;
}

/*Footer*/
footer.color {
    background-color: #7B3537;
}

footer.color div {
    color: white;
}

/***Proyecto individual***/

div.titulo {
    border-bottom: 2px solid var(--colorPrimario);
    margin-top: 20px;
    padding: 20px 0;
}

div.fecha h3 {
    margin: 20px 0;
    text-align: left;
}

div.contenedor {
    border: 1px solid var(--colorPrimario);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

div.contenedor p {
    font-family: var(--fuentePrimaria);
    color: var(--colorPrimario);
    padding: 20px 20px;
    letter-spacing: 1px;
    text-align: justify;
    font-weight: bolder;
}

div.contenedor-info {
    border: 1px solid var(--colorPrimario);
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
    padding: 20px 20px;
}

div.imagen img {
    max-width: 100%;    
    overflow: hidden;
    border-radius: 5px;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
  }
  
  div.imagen:hover img {
    -webkit-filter: grayscale(0);
    transform: scale(1.05);
  }

  /***Proyecto***/
div.filtro {
    margin: 20px 0;
    text-align: center;
}
div.filtro select {
    margin: 20px 20px;
    color: var(--colorPrimario);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    padding: 3px 3px;
    font-size: .8em;
}
div.filtro button {
    margin: 20px 20px;
    color: var(--colorPrimario);
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    border: 1.5px solid var(--colorPrimario);
    transition: all .5s ease-in-out;
    font-weight: bolder;
    font-size: .8em;
}
div.filtro button:hover {
    background-color: var(--colorPrimario);
    color: white;
}
div.imagen-proyecto img {
    max-width: 100%;    
    overflow: hidden;
    border-radius: 5px;
    filter: gray;
    -webkit-filter: grayscale(0);
    -webkit-transition: all .5s ease-in-out;
    /* margin: 10px; */
}
div.imagen-proyecto {
    position: relative;
}
div.imagen-proyecto:hover img {
    filter: grayscale(1);
}
div.imagen-proyecto h3 {
    position: absolute;
    color: white;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colorPrimario);
    padding: 5px 20px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
div.imagen-proyecto:hover h3{
    opacity: 1;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.info-proyecto h3 {
    margin: 20px 0;
}
div.info-proyecto p {
    font-family: var(--fuentePrimaria);
    color: var(--colorPrimario);
    letter-spacing: 1px;
}



